.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (min-width: 450px) {
        &> div {
            flex-basis: calc(50% - 10px);
        }
    }
    @media screen and (min-width: 900px) {
        &> div {
            flex-basis: calc(100%/3 - 40px/3);
        }
    }
}

.no-flexbox {
    .partners {
        display: initial;
        max-width: 100%;
    }
}

.euro-fund-images {
    margin-top: 50px;
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    img {
        max-width: 300px;
    }
}